html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.buttons {
    display: flex;
}

.buttons button {
    width: 100px;
    padding: 10px;
}

.column {
    background-color: #002AE0;
}
